/* &display=swap */

@import "null.css";


@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

@font-face {
font-family: 'Lobster';
src: url('../fonts/Lobster-Regular.woff2') format('woff2'),
url('../fonts/Lobster-Regular.woff') format('woff');
font-weight: 400;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'Rubik Beastly';
src: url('../fonts/RubikBeastly-Regular.woff2') format('woff2'),
url('../fonts/RubikBeastly-Regular.woff') format('woff');
font-weight: 400;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'Marck Script';
src: url('../fonts/MarckScript-Regular.woff2') format('woff2'),
url('../fonts/MarckScript-Regular.woff') format('woff');
font-weight: 400;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'Rampart One';
src: url('../fonts/RampartOne-Regular.woff2') format('woff2'),
url('../fonts/RampartOne-Regular.woff') format('woff');
font-weight: 400;
font-style: normal;
font-display: swap;
}



/*============================================================================*/




/*============================================================================*/
/*font-family: 'Rubik Beastly', cursive;*/
/*font-family: 'Lobster', cursive;*/
/*font-family: 'Marck Script', cursive;*/
/*font-family: 'Rampart One', cursive;*/
/*font-family: 'PT Serif', serif;*/
/*============================================================================*/
body{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: #424551;
}
/* ===============header================================== */

.subject {
	font-family: 'Lobster', cursive;
	font-size: 50px;
	line-height: 2.5;
	text-align: center;
	text-shadow: 10px 5px 7px rgb(0, 0, 0);
}
.header-menu {
	line-height: 1.5;
	text-align: center;
	
}

.menu-list {
	font-family: 'Marck Script', cursive;
	font-size: 25px;
	
}


.menu{
	text-decoration: underline;
}

.number {
	font-size: 24px;
	font-family: 'Rubik Beastly', cursive;
	text-decoration: none;
}
.number-1{
	color: rgb(129,9,13);
	text-shadow: 2px 1px 15px rgb(129,9,13);
}

.number-2{
	color: rgba(34,30,154,1);
	text-shadow: 2px 1px 15px rgb(34,30,154);
}
.number-3{
	color: rgb(41,154,11);
	text-shadow: 2px 1px 15px rgb(41,154,11);
}
.number-4{
	color: rgb(240,183,161);
	text-shadow: 2px 1px 15px rgb(240,183,161);
}


.menu-number {
	font-family: 'Rampart One', cursive;
	text-align: center;
	line-height: 2.7;
	font-size: 50px;
	word-spacing: 200px;

}
.number-link-1 {
	color: rgb(129,9,13);
	text-shadow: 12px 14px 15px rgb(129,9,13);
}
.number-link-2 {
	color: rgba(34,30,154,1);
	text-shadow: 12px 14px 15px rgb(34,30,154);
}
.number-link-3 {
	color: rgb(41,154,11);
	text-shadow: 12px 14px 15px rgb(41,154,11);
}
.number-link-4 {
	color: rgb(240,183,161);
	text-shadow: 12px 14px 15px rgb(240,183,161);
}


/*==========================content============================================*/
.content {
	font-size: 20px;
	line-height: 1.5;
}

/*==========================about============================================*/


.line{
	text-align: center;
}

.about {
	font-family: 'Marck Script', cursive;
	font-size: 25px;
}

.title {
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 40px;
	line-height: 1.5;
}

.link-text {
	font-size: 23px;
	text-indent: 30px;
	
}
.link-text span{
	font-family: 'PT Serif', serif;
	font-style: italic;
	text-transform: capitalize;
	color: rgb(248,80,50);
	text-shadow: 1px 1px 1px rgb(20, 0, 0);
	
}


.link-fig {
	font-family: 'Rampart One', cursive;
	font-size: 27px;
	color: rgb(34,30,154);
	text-shadow: 12px 14px 15px rgb(34,30,154);

}
.image-1{
	text-align: center;
}

/* =================================note-hot-keys=================================== */

.note-hot-keys {
	line-height: 3;
}
.hot-keys {
	font-family: 'PT Serif', serif;
	font-style: italic;
	font-weight: 700;
	font-size: 29px;
	letter-spacing: 10px;
	text-align: right;
	line-height: 2.6;
	color: rgb(129,9,13);
	text-shadow: 11px 13px 19px rgb(129,9,13);
}
.text-inst {
	font-family: 'Lobster', cursive;
	line-height: 1.8;
	word-spacing: 5px;
	
}
.text-inst span{
	font-family: 'Rampart One', cursive;
	color: darkred;
	text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

/* =================================block-collaboration==================================== */

.block-collaboration {
	font-family: 'Lobster', cursive;
	font-size: 23px;
	line-height: 2;
}

.collaboration-section {
	font-family: 'Marck Script', cursive;
	font-size: 50px;
	text-align: center;
	line-height: 3;
	color: rgba(34,30,154,1);
	text-shadow: 12px 14px 15px rgb(34,30,154);
}
.block-collaboration p{
	letter-spacing: 1px;
	text-shadow: 1px 4px 16px rgb(0,10,6);
}

.link-zeplin {
	font-family: 'Rampart One', cursive;
	color: rgb(0,110,46);
	text-shadow: 12px 14px 15px rgb(0,110,46);
	font-size: 25px;
}

.link-invision{
font-family: 'Rampart One', cursive;
color: rgb(248,80,50);
text-shadow: 12px 14px 15px rgb(248,80,50);
font-size: 25px;
}
.collaboration-img{
	text-align: center;
}
/* =============================start-figma======================================== */

.start-figma {
	font-family: 'Lobster', cursive;
	font-size: 25px;
	line-height: 2;
	color: lightslategray;
}
.figma-title {
	font-family: 'Marck Script', cursive;
	color: rgb(41,154,11);
	text-shadow: 12px 14px 15px rgb(41,154,11);
	font-size: 50px;
	text-align: center;
	line-height: 3;
}
.inter-fig{
	text-align: center;
}



/* ===========================sections====================================== */


.sections p{
	font-style: italic;
	color: rgb(0, 0, 0);
	text-shadow: 1px 1px 1px rgb(0, 0, 0);
	
}

.section-title {
	font-family: 'Marck Script', cursive;
	text-align: center;
	font-size: 50px;
	line-height: 3;
	color: rgb(240,183,161);
	text-shadow: 12px 14px 15px rgb(240,183,161);
}

.section-list {
	font-style: italic;
	text-shadow: 14px 11px 10px rgb(0, 0, 0);
}


.list-style{
	font-family: 'Rampart One', cursive;
	color: darkred;
	text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.list-number {
	font-family: 'Rampart One', cursive;
	font-size: 25px;
	color: rgb(41,154,11);
	text-shadow: 4px 11px 11px rgb(0, 0, 0), 2px 1px 1px rgb(41,154,11);
}
.section-img{
	text-align: right;
}




/* ===========================footer====================================== */
.footer{
	text-align: center;
	line-height: 9;
	font-family: 'Lobster', cursive;
	font-size: 20px;
}


.link-directory {
	font-family: 'PT Serif', serif;
	text-decoration: underline;
	word-spacing: 5px;
	color: rgb(34,30,154);
	text-shadow: 2px 1px 9px rgb(34,30,154);
}

.up-text{
	font-size: 40px;
	line-height: 0;
}

.second-site{
	font-family: 'Marck Script', cursive;
	font-size: 30px;
	text-align: right;
	line-height: 0;
}
.second-site span{
	text-align: right;
	line-height: 5;
}









/* ============================================================== */
/* ================Вторая страница (FIGMA)============================================== */
/* ============================================================== */



.title-hr {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	color: #1E212C;
}

.text-style{
	font-weight: 700;
	line-height: 150%;
}

.subtitle {
	color: #1E212C;
}
.text-list{
	font-size: 16px;
	line-height: 160%;
}
